{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'imgs/logo1.JPG' %}">
{% endblock %}

{% block content %}

<div class="navbar">
    <a href="/echrono">E-Chronometer</a>

    <a href="/review">Technical Reviews</a>

    <a href="/fuel">Fuel Service</a>

    <a href='/accounts/{{user.id}}'>My account</a>
</div>
<div class="main_page">
    Hi {{ user.id }}!
    <p>
        <a style='color:black;' href="{% url 'logout' %}">Log Out</a>
    </p>
</div>

{% endblock %}